:root {
  --color-main: #e84242;
  --color-black: #1b1b1b;
  --border: 0.1rem solid rgba(255, 255, 255, 0, 0.4);
  --smallText: 0.5em;
}
* {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}
/*                           BASE HTML CODES*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scrollbar-color: smooth;
}
body {
  background-color: var(--color-main);
}
section {
    padding: 3.5rem 7%;
}
/*                   HEADER                */
.header .logo img {
  height: 10rem;
}
.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  position: sticky;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  top: 2rem;
}
.header .navbar a {
  margin: 0 2rem;
  font-size: 1.6rem;
  color: var(--color-black);
  border-bottom: 0.2rem solid transparent;
}
.header .navbar .active,
.header .navbar a:hover {
    border-color: var(--color-main);
    padding-bottom: 0.5rem;
}
.header .navbar .active:hover {
    border-bottom: 0.2rem solid transparent;
}
.header .navbar-right a {
  margin: 0 0.2rem;
  font-size: 2rem;
  color: var(--color-black);
  background-color: transparent;
}
.header .navbar-right a:hover {
    opacity: 0.7;
}
.header .navbar-right button {
    cursor: pointer;
    font-size: 2rem;
    padding-left: 1rem;
    background-color: transparent;
}
/*                   HOME                */
.home { 
    min-height: 100vh;
    background: url(/images/background.png)
    no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:-14.5rem;
    display: flex;
    align-items: center;
}
.home .content {
    max-width: 60rem;
}
.home .content h3{
    font-size: 6rem;
    color: var(--color-black);
}
.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: var(--color-black);
}
/*                   FOOTER                */
.footer {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  position: sticky;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  bottom: 2rem;
}
.footer .footer-socials a {
  margin: 0 2rem;
  font-size: 1.6rem;
  color: var(--color-black);
}

@media screen and (max-width: 992px) {

    .header .navbar a, .header .navbar-right button, .header .navbar-right a{
        display: none;
    }

}
