:root {
    --smallText: 0.5em;
}
*{
    background: #141414;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}
li, a, button {
    color: rgb(232, 232, 232);
    
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-top: 2rem;
    position: relative;
    width: 100%;
    
}

.logo {
    display: block;
    width: 150px;
    height: 100px;
}
.nav-links {
    display: flex;
}
.nav-links a {
    display: inline-block;
    padding: 0 2rem;
} 
.nav-links a:after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.7s;
}
.nav-links a:hover::after{
    width: 100%;
}
.nav-socials {
    color: white;
}
.nav-socials li {
    display: inline-block;
    padding: 5px 5px;
}
.nav-socials li a:hover{
    opacity: 0.7;
}
.nav-cart li{
    display: inline-block;
}
.nav-cart li a:hover{
    opacity: 0.7;
}

.shop-title {
    color: white;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 12px;
}
.shop-list {
   text-align: center;
}
.shop-list ul li{
    align-items: center;
    padding-top: 2rem;
    padding: 0px 20px;
    display: inline-block;
}
.shop-list ul li a{
    font-size: 15px;
}
.shop-list ul li a:after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.7s;
}
.shop-list a:hover::after{
    width: 100%;
}
/*                     STICKER*/
.sticker-list {
    position:relative;
    padding-top: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    
}
.sticker {
    padding: 2rem;
}
.sticker-img{
    
    width: 250px;
    height: 250px;
}
.sticker h5{
    
    font-size: 14px;
}
.sticker p {
    font-size: 12px;
    /*padding: 2rem;*/
}
/*                     FOOTER*/
.page-footer {
    display: flex;
    position:relative;
    width: 100%;
    height:60px;
    bottom:0;
}
.footer-socials {
    display: flex;
}
.footer-socials li {
    display: inline-block;
    padding: 5px 25px;
    list-style: none;
    position: relative;
}
.mobile-menu {
    display: none;
}
.page {
    padding-top: 20rem;
}
/*                     FAQ*/
.faq {
    padding: 5rem;
    font-size: 8px;
    text-align: left;
    
}
.faq h2 {
    position: static;
    text-align: center;
    padding: 1rem;
    color:white;
}
.faq p {
    text-align: center;
    padding: 1rem;
    color:white;
    

}
.faq a {
    text-align: center;
    padding: 1rem;
}
/*                     CONTACT*/
.contact {
    font-size: 10px;
    color: white;
    text-align: center;
    width: 75%;
    cursor:pointer;
    padding-top: 10rem;
}
.contact p {
    padding-top: 40px;
    
}
.contact a {
    font-size: 11px;
    cursor:pointer;
    
}
/*                     CART*/
.cart {
    font-size: 10px;
    color: white;
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}
.cart p {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 15px;
    font-size:10px
}
.cart a {
    font-size: 10px;
}
button {
    background-color: #ffffff;
    color: #141414;
    font-size: 12px;
    border: none;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 5px;
    
}
@media screen and (max-width: 992px) {
    .mobile-menu {
        display: flex;
    }
    
    .navbar {
        height: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .logo {
        width: 100px;
        height: 75px;
    }
    .nav-center {
        display: flex;
        align-items: center;
        padding-left: 0rem;
    }
    .nav-header {
        padding: 0;
        margin-right: 2rem;
        height: auto;
    }
    .shop-list ul li a{
        font-size: var(--smallText);
    }

    /*                            STICKER*/
    .sticker-list {
        display: grid;
        gap: 2rem 1rem;
        padding-top: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    .sticker-img {
        width: 250px;
        height: 250px;
    }
    .sticker h5{
        padding-top: 20px;
        font-size: 14px;
    }
    .sticker p {
        padding-top: 15px;
        font-size: 12px;
    }

    .footer-socials li {
        display: inline-block;
        list-style: none;
        padding: 1rem 1rem 0px 1rem;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .nav-links {
        display: none;
    }
    .nav-socials {
        display: none;
    }
}
